.DS_Store
/.build
/build
/DerivedData
memory-bank/
*.dmg
*.app
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.swiftpm
.env
*.p8
*.p12
*.mobileprovision
secrets/
